*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
}

header{
    background:black;
    height:132px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 80px;
}

.logo{
    color: orange;
    font-size:42px;
    font-weight:bold;
    font-family: Myriad pro;
}

.mountain{
    width: 80px;
    position: absolute;
    top: -5px;      
    left: 9%;
    transform: translateX(-50%);
}

.logo span{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:20px;
    font-family: myriad;
}

nav ul li a:hover{
    color:orange;
}

.social{
    display:flex;
    gap:20px;
}

.social img{
    width:25px;
    height:25px;
}

.twitter,
.facebook,
.pinterest{
    filter: invert(48%) sepia(95%) saturate(2000%) hue-rotate(5deg);
}

.googleplus{
    filter:none !important;
    width:25px;
    height:25px;
    border-radius: 50%;
}

.social img:last-child{
    margin-right:40px;
}

.logo img{
    width:70px;
    margin-bottom:-5px;
    filter: invert(1);
}

@font-face {
    font-family: Myriad pro;
    src: url(./MYRIADPRO-BOLD.OTF);
}
@font-face {
    font-family: myriad;
    src: url(./MYRIADPRO-REGULAR.OTF);
}